body {
    background-color: cornsilk
    <img
    src="C:\Users\lorra\Documents\MPS"/>
}
h1 {
    background-color:crimson;
    color: white;
    padding: 5px;
    padding-left: 575px;
    border: 2px black solid
}
#pequena {
    width: 450px;
    height: 450px;
}
#média {
    width: 200px;
    height: 200px;
}